@media (max-width: 375px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
        }
    .title {
        display: grid;
        width: 343px;
        flex-direction: column;
        justify-content: center;
        font-size: 32px;
        text-align: center;
        padding-top: 21px;
    }
    .top_text {
        width: 343px;
        margin-bottom: 32px;
        text-align: center;
        line-height: 22px;
        font-size: 14px;
    }
    .text {
        line-height: 22px;
        font-size: 14px;
    }
    .top {
        height: 735px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 89%, #000915 100%), url(img/topbackmob.jpg), lightgray 50%;
        display: grid;
        justify-items: center;
        align-content: center;
    }
    .button-go {
        width: 234px;
        display: block;
        font-size: 18px;
        line-height: 18px;
        text-decoration: none;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .games__box {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
    }
    .games {
        height: 1221px;
        background-image: url(img/gamesmob.jpg);
    }
    .games__item {
        &:hover {
          animation: none;
        }
      }
}