@keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 #44D2FF, 0 0 #44D2FF, 0 0 #44D2FF, 0 0 #44D2FF, 0 0 #44D2FF, 0 0 #44D2FF, 0 0 #44D2FF, 0 0 #44D2FF;
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px -1px #44D2FF, 2px -2px #44D2FF, 3px -3px #44D2FF, 4px -4px #44D2FF, 5px -5px #44D2FF, 6px -6px #44D2FF, 7px -7px #44D2FF, 8px -8px #44D2FF;
    transform: translateX(-8px) translateY(8px);
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 1024px;
  background-repeat: no-repeat;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 89%, #000915 100%), url(img/topback.jpg), lightgray 50%;
  background-position: center;
  background-size: cover;
}

.games {
  height: 556px;
  background-image: url(img/games.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background: #000915;
}

.top_text {
  color: #FFF;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  width: 481px;
  margin-top: 32px;
  margin-bottom: 44px;
}

.text {
  color: #FFF;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.title {
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: left;
  color: white;
  font-style: normal;
  padding-top: 217px;
}

.button-go {
  width: 234px;
  height: 48px;
  display: block;
  border-radius: 30px;
  background: #9C0332;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-go:hover {
  background: #EB443F;
}

.games__box {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}

.games__item {
  grid-column: span 4;
  border-radius: 16px;
  height: 300px;
  text-decoration: none;
}
.games__item:hover {
  border-radius: 16px;
  border: 3px solid #44D2FF;
  animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.games__item_1 {
  background-image: url(img/game1.png);
}

.games__item_2 {
  background-image: url(img/game2.png);
}

.games__item_3 {
  background-image: url(img/game3.png);
}

.games__text {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  padding-left: 32px;
  padding-top: 236px;
}

.seasons {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  height: 800px;
  background-repeat: no-repeat;
  background: url(img/seasons.jpg);
  background-position: center;
  background-size: cover;
}

.box-month {
  grid-column: 1/6;
}

.title_text {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: left;
  color: white;
  font-style: normal;
}

.month {
  color: #FFF;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  width: 584px;
  margin-top: 32px;
  margin-bottom: 32px;
  line-height: 32px;
}

.button-month {
  width: 234px;
  height: 48px;
  border-radius: 30px;
  background: #9C0332;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-month:hover {
  background: #EB443F;
}

.svg {
  grid-column: 8/12;
}

.svg-2 {
  grid-column: 1/5;
}

.box-remember {
  grid-column: 7/12;
}

.remember {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  height: 800px;
  background-repeat: no-repeat;
  background: url(img/remember.jpg);
  background-position: center;
  background-size: cover;
}

.remember_text {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: left;
  color: white;
  font-style: normal;
}

.words {
  color: #FFF;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  width: 584px;
  margin-top: 32px;
  margin-bottom: 32px;
  line-height: 32px;
}

.button-remember {
  width: 234px;
  height: 48px;
  border-radius: 30px;
  background: #9C0332;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-remember:hover {
  background: #EB443F;
}

@media (max-width: 375px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .title {
    display: grid;
    width: 343px;
    flex-direction: column;
    justify-content: center;
    font-size: 32px;
    text-align: center;
    padding-top: 21px;
  }
  .top_text {
    width: 343px;
    margin-bottom: 32px;
    text-align: center;
    line-height: 22px;
    font-size: 14px;
  }
  .text {
    line-height: 22px;
    font-size: 14px;
  }
  .top {
    height: 735px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 89%, #000915 100%), url(img/topbackmob.jpg), lightgray 50%;
    display: grid;
    justify-items: center;
    align-content: center;
  }
  .button-go {
    width: 234px;
    display: block;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .games__box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }
  .games {
    height: 1221px;
    background-image: url(img/gamesmob.jpg);
  }
  .games__item:hover {
    animation: none;
  }
  .games__item_3 {
    background-position: center;
  }
  .seasons {
    display: flex;
    flex-direction: column;
    background: url(img/seasonsmob.jpg);
    height: 654px;
  }
  .box-month {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 51px;
  }
  .title_text {
    font-size: 32px;
    text-align: center;
  }
  .month {
    font-weight: 300;
    font-size: 14px;
    width: 343px;
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
  }
  .svg_image {
    width: 344px;
    height: 236px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 32px;
  }
  .remember {
    display: flex;
    flex-direction: column-reverse;
    background: url(img/seasonsmob.jpg);
    height: 654px;
  }
  .svg_image2 {
    width: 344px;
    height: 236px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 90px;
  }
  .box-remember {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 51px;
  }
  .remember_text {
    font-size: 32px;
    text-align: center;
  }
  .words {
    font-weight: 300;
    font-size: 14px;
    width: 343px;
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */